@charset "utf-8";
/* CSS Document */
* {text-align:justify; }
#ecrire { 
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    padding: 40px;
    margin:auto;
}

h1 {text-align:center;}
a {text-decoration: none; color:inherit;}
a:hover {text-decoration: none; color:initial; font-size: 2rem;}
a:visited {text-decoration: none; color:initial; font-size: 2rem;}
/* the anchor text still goes back to normal font size after visiting it, why? */

